body{  
    background-color: rgb(183, 195, 209);
    text-align: center;
    margin:0;
}

header{
     background-color: #617dd6;
     height: 200px;
     border-radius: 20px;
     text-align: center;
}
.sobreAlgoritmo{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif; 
}

.card{
    background-color: #080038;
    height: 275px;
    width: 630px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.valida{
     text-align: center;
     color: rgb(255, 255, 255);
     font-family: 'IBM Plex Sans Thai Looped', sans-serif;
     margin-bottom: 20px;
}

.cardNumber{
    width: 450px;  
    font-size: larger; 
    margin-top: 50px;
}

 input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
} 

.btn{
    background-color:#49d04e;
    height: 30px;
    border: 1px solid rgb(41, 236, 57);
    border-radius: 50px;
    text-align: center;
}

.finalResult{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    color: rgb(245, 245, 245);
}